<!-- INCLUDE overall_header.html -->

<table class="table1">
  <caption>{L_ACTIVITY_OVERVIEW}</caption>
  <thead>
    <th><a class="postlink" href="{U_ACTIVITY_OVERVIEW}?sort_type=un&sort_order={UN_LINK_SORT_ORDER}">{L_USERNAME}</a></th>
    <th><a class="postlink" href="{U_ACTIVITY_OVERVIEW}?sort_type=fpt&sort_order={FPT_LINK_SORT_ORDER}">{L_FIRST_POST}</a></th>
    <th><a class="postlink" href="{U_ACTIVITY_OVERVIEW}?sort_type=pt&sort_order={PT_LINK_SORT_ORDER}">{L_LAST_POST}</a></th>
    <th><a class="postlink" href="{U_ACTIVITY_OVERVIEW}?sort_type=pt&sort_order={PT_LINK_SORT_ORDER}">{L_ELAPSED_TIME}</a></th>
    <th><a class="postlink" href="{U_ACTIVITY_OVERVIEW}?sort_type=pc&sort_order={PC_LINK_SORT_ORDER}">{L_POST_COUNT}</a></th>
  </thead>

  <tbody>
    <!-- BEGIN POSTS_BY_USER -->
    <tr>
      <td class="center">{POSTS_BY_USER.USERNAME}</td>
      <td class="center">{POSTS_BY_USER.FIRST_POST_TIME}</td>
      <td class="center">{POSTS_BY_USER.LAST_POST_TIME}</td>
      <td class="center">{POSTS_BY_USER.IDLE_TIME}</td>
      <td class="center">{POSTS_BY_USER.COUNT}</td>
    </tr>
    <!-- END POSTS_BY_USER -->
  </tbody>
</table>
<!-- INCLUDE overall_footer.html -->